
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="header1">
        Paragraph
    </p>
    <script>
        let url = 'http://127.0.0.1:8000/api/students/'
        fetch(url, {
            method: 'GET', // or 'PUT'
            headers: {
                'Content-Type': 'multipart/form-data',
        },
        // body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
        {% comment %} document.getElementById("header1").innerText = data; {% endcomment %}
        })
        .catch((error) => {
        console.error('Error:', error);
        });
    </script>
</body>
</html>